body{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.dashboard{
  .btn-warning{
    text-align: start;
    background-color: orange;
    color: white;
    width: 50%;
    border-radius: 20px; 
    font-weight: bold;
  }
  .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
    background-color: blue;
    color:#FFF;
    border-color: blue;
    box-shadow: none;
  }
  .sideContainer{
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    border-right: solid 1px orange;
    align-items: center;
    .logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        width: 40%;
    }
    .sideButtons{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
        padding: 2px;
        text-align: center;
    }
  } 
  .mainContainer{
    margin-top: 50px;
    .textoCentro{
      margin-top: 15px;
      position: relative;
      left: 110px;
      width: fit-content;
      p{
        color: blue;
      }
    }
    .userSection{
      margin-top: 50px;
      height: 480px;
      width: 95%;
      border: solid 2px orange;
      border-radius: 15px;
      img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        height: 150px;
        
      }
      p{
        color: orange;
        text-align: center;
        font-weight: bold;
        font-size: larger;
      }
    }
  }
}

.footer{
  background: white;
  color:orange;
  position: fixed;
  bottom: 0;
  width: 100%;
  
  .logos{
    height: 50px;
    margin-top: 35px;
    margin-left: 5px;
    margin-right: 5px;
  }  
  .links{
    a{
      text-decoration: none;
      color: orange;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#206dca;
        }
    }
  }
}