@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
.footer{
  background: white;
  color:orange;
  
  .logos{
    height: 50px;
    margin: 10px;
  }  
  .links{
    font-family: 'Montserrat', sans-serif;
    a{
      text-decoration: none;
      color: orange;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#206dca;
        }
    }
  }
}