.contenedor{
    background-color: rgb(250, 250, 250);
    
}
.formLabels{
    color: orange;
}
.inputs{
    background-color: orange;
}
.intranet{
    color: blue;
}
.ingresar{
    color: orange;
}
.logo{
    height: 85px;
    width: 149px;
}
.carta{
    border: 1px solid rgb(250, 250, 250);
    background-color: rgb(250, 250, 250);
}